<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Secret Page</title>
    <!-- Link to your custom CSS file -->
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    {{>navbar}}
    <div id="content" style="width: 100%; height: 100vh; text-align: center;">
        <h1>Welcome to the Secret page!!!</h1>
    </div>
    {{>footer}}
</body>
</html>
